@font-face {
  font-family: 'Conv_segoeuil';
  src: url('fonts/segoeuil.eot');
  src: local('O'), url('fonts/segoeuil.woff') format('woff'), url('fonts/segoeuil.ttf') format('truetype'), url('fonts/segoeuil.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_segoeuisl';
  src: url('fonts/segoeuisl.eot');
  src: local('O'), url('fonts/segoeuisl.woff') format('woff'), url('fonts/segoeuisl.ttf') format('truetype'), url('fonts/segoeuisl.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArchiveRegular';
  src: url('fonts/ArchiveRegular.eot');
  src: local('O'), url('fonts/ArchiveRegular.woff') format('woff'), url('fonts/ArchiveRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button, textarea, input {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	cursor: pointer;
}

.hidden {
	display: none;
}

.f-sl {
	font-family: 'Conv_segoeuisl';
}
.f-slb {
	font-family: 'Conv_segoeuisl';
	font-weight: bold;
}

.f-bold {
	font-weight: bold;
}
.f-8 {
	font-size: 8px;
}
.f-9 {
	font-size: 9px;
}
.f-10 {
	font-size: 10px;
}
.f-11 {
	font-size: 11px;
}
.f-12 {
	font-size: 12px;
}
.f-13 {
	font-size: 13px;
}
.f-14 {
	font-size: 14px;
}
.f-16 {
	font-size: 16px;
}
.f-18 {
	font-size: 18px;
}
.f-24 {
	font-size: 24px;
}
.f-28 {
	font-size: 28px;
}
.f-32 {
	font-size: 32px;
}
.f-36 {
	font-size: 36px;
}
.f-40 {
	font-size: 40px;
}
.f-60 {
	font-size: 60px;
}
.f-white {
	color: #ffffff;
}
.f-black {
	color: #000000;
}
.f-dgrey {
	color: #323232;
}
.f-lgrey {
	color: #999999;
}
.f-center {
	text-align: center;
}
.f-crossed {
	text-decoration: line-through;
}

a:hover, a:focus, a:active {
	text-decoration: none;
	outline: none;
	color: inherit;
}
input:focus, button:focus, select:focus {
	outline: none!important;
}

.el > input, .el > label {
	cursor: pointer;
}

.el, .el > input, .el > textarea, .el > select {
	width: 100%;
}

.flex {
	display: flex;
}
.flex.flex-ac {
	align-items: center;
}
.flex.flex-jc {
    justify-content: center;
}
.flex.flex-jsb {
    justify-content: space-between;
}
.flex.flex-jsa {
    justify-content: space-around;
}
.flex > * {
	flex: auto;
	flex-grow: 0;
	margin-left: 10px;
}

.tmplink {
    position: absolute;
    top: -6px;
    right: 0px;
    background: lightgreen;
    color: white;
    border-radius: 5px;
    padding: 2px;
}

body.editMode .editLogBtn {
	cursor: pointer;
	position: absolute;
    width: 15px;
    height: 15px;
	opacity: 0.3;
    background-image: url(/XAOC/images/log.png);
    background-color: blue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.i-cover {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.i-contain {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.btn {
	cursor: pointer;
}

.h {
	cursor: pointer;
}
.h:hover {
	opacity: 0.5;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
	text-align: center;
}

body.loading, body.loading .h {
	cursor: wait!important;
}

[disabled="disabled"] {
	cursor: default;
}

.form-block1:not(.x_styles_loaded) {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	filter: opacity(0.1);
}
.form-block1:not(.x_styles_loaded) > *:not(.style_catcher) {
	display: none;
}
.form-block1:not(.x_styles_loaded):after {
	animation: changeContent .8s linear infinite;
    display: block;
    content: "⠋";
    font-size: 80px;
    z-index: 1;
	position: fixed;
    left: calc(50% - 30px);
    top: calc(50% - 60px);
}

@keyframes changeContent {
  10% { content: "⠙"; }
  20% { content: "⠹"; }
  30% { content: "⠸"; }
  40% { content: "⠼"; }
  50% { content: "⠴"; }
  60% { content: "⠦"; }
  70% { content: "⠧"; }
  80% { content: "⠇"; }
  90% { content: "⠏"; }
}

.style_catcher {
	position: fixed;
	bottom: -1px;
	left: -1px;
	width: 0px;
	height: 0px;
}