/* project local css-file */

body {
	font-family: 'Conv_segoeuil';
	font-size: 13px;
	overflow: hidden;
}

input, textarea {
	border: none;
	border-bottom: 1px solid #ccc;
}

.prepare-date > .ui-datepicker-trigger, .prepare-time > .ui-datepicker-trigger, .prepare-datetime > .ui-datepicker-trigger {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#ui-datepicker-div {
	z-index: 9999!important;
}

[help] {
	cursor: help;
}

.tutorial-hide {
	display: none;
}

.tutorial-link {
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url(/static/img/guru.jpg);
    width: 45px;
    height: 45px;
	background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
	border: 3px solid #018da8;
    font-size: 42px;
    line-height: 42px;
    color: #018da8;
    text-align: center;
	cursor: pointer;
	z-index: 1;
}

body.isMobile .tutorial-link {
    width: 30px;
    height: 30px;
    line-height: 26px;
    font-size: 16px;
}

.tutorial-link:hover {
	opacity: 0.5;
}

.tutorial-active{
	-webkit-animation: tutorial_active 1s infinite alternate;
	-moz-animation: tutorial_active 1s infinite alternate;
	-ms-animation: tutorial_active 1s infinite alternate;
	-o-animation: tutorial_active 1s infinite alternate;
	animation: tutorial_active 1s infinite alternate;
}

.tutorial-link.tutorial-active {
	-webkit-animation: tutorial_link_active 1s infinite alternate;
	-moz-animation: tutorial_link_active 1s infinite alternate;
	-ms-animation: tutorial_link_active 1s infinite alternate;
	-o-animation: tutorial_link_active 1s infinite alternate;
	animation: tutorial_link_active 1s infinite alternate;
}

@-webkit-keyframes tutorial_active {
	from { background-color: transparent; }
	to { background-color: #aaa; }
}
@-moz-keyframes tutorial_active {
	from { background-color: transparent; }
	to { background-color: #aaa; }
}
@-ms-keyframes tutorial_active {
	from { background-color: transparent; }
	to { background-color: #aaa; }
}
@-o-keyframes tutorial_active {
	from { background-color: transparent; }
	to { background-color: #aaa; }
}
@keyframes tutorial_active {
	from { background-color: transparent; }
	to { background-color: #aaa; }
}

@-webkit-keyframes tutorial_gui_active {
	from { border-color: #aaa; }
	to { border-color: white; }
}
@-moz-keyframes tutorial_gui_active {
	from { border-color: #aaa; }
	to { border-color: white; }
}
@-ms-keyframes tutorial_gui_active {
	from { border-color: #aaa; }
	to { border-color: white; }
}
@-o-keyframes tutorial_gui_active {
	from { border-color: #aaa; }
	to { border-color: white; }
}
@keyframes tutorial_gui_active {
	from { border-color: #aaa; }
	to { border-color: white; }
}

@-webkit-keyframes tutorial_link_active {
	from { border-color: #018da8; color: #018da8; }
	to { border-color: white; color: white; }
}
@-moz-keyframes tutorial_link_active {
	from { border-color: #018da8; color: #018da8; }
	to { border-color: white; color: white; }
}
@-ms-keyframes tutorial_link_active {
	from { border-color: #018da8; color: #018da8; }
	to { border-color: white; color: white; }
}
@-o-keyframes tutorial_link_active {
	from { border-color: #018da8; color: #018da8; }
	to { border-color: white; color: white; }
}
@keyframes tutorial_link_active {
	from { border-color: #018da8; color: #018da8; }
	to { border-color: white; color: white; }
}

.select2-container > .select2-dropdown.select2_obj .select2-results__option,
.select2-container > .select2-dropdown.select2_obj_inline .select2-results__option {
	display: flex;
}
.select2-container > .select2-dropdown.select2_obj .select2-results__option > img,
.select2-container > .select2-dropdown.select2_obj_inline .select2-results__option > img {
	height: 30px;
    margin-right: 6px;
}
.select2-container > .select2-dropdown.select2_obj .select2-results__option > div,
.select2-container > .select2-dropdown.select2_obj_inline .select2-results__option > div {
	font-size: 11px;
}
.select2-container > .select2-dropdown.select2_obj .select2-results__option > div > p,
.select2-container > .select2-dropdown.select2_obj_inline .select2-results__option > div > p {
	font-size: 12px;
	color: #888;
}
.select2-container > .select2-dropdown.select2_obj .select2-results__option--highlighted[aria-selected] > div > p,
.select2-container > .select2-dropdown.select2_obj_inline .select2-results__option--highlighted[aria-selected] > div > p {
	color: white;
}

.select2-container > .selection .select2-selection__rendered {
	max-height: 100%;
}

.select2-container .select2-selection--single {
	height: 20px;
}


.tpl-obj-item {
	display: flex;
	width: 100%;
	justify-content: space-between;
	cursor: pointer;
	text-decoration: none;
    color: #444;
}
.tpl-obj-item > .icon {
	height: 28px;
	width: 28px;
	flex-shrink: 0;
	position: relative;
	margin: 6px;
}
.tpl-obj-item > .name {
	width: 100%;
	padding-left: 6px;
	align-self: center;
}
.tpl-obj-item > .name > .context {
	font-size: 11px;
	color: #888;
}

.complex-block.has-controls:not(.custom-controls) > .complex-controls,
.complex-block.has-controls.add-search:not(.custom-controls) > .complex-controls.add-search {
	height: 20px;
	width: 50%!important;
	left: auto!important;
	right: 0px;
}

.complex-block.has-controls:not(.custom-controls) > .complex-controls > .control-add {
	background-color: #3b7fc4;
	background: #3b7fc4;
	font-size: 13px;
	color: white;
	border-radius: 6px;
}

.complex-block.has-controls.add-search > .complex-controls.add-search > .control-add {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%!important;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.complex-block.has-controls.add-search.add-search-only > .complex-controls.add-search > .control-add {
	display: none;
}
.complex-block.has-controls.add-search > .complex-controls.add-search > .el > .select2-container {
	width: 100%!important;
	height: 100%!important;
}
.complex-controls.add-search > .el > .select2-container .select2-selection__rendered {
	display: none;
}
.complex-block.has-controls.add-search > .complex-controls.add-search > .el > .select2-container > .selection > .select2-selection:after {
	content: ' ';
	position: absolute;
	top: 0px;
	right: 0px;
	width: 20%;
	height: 100%;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	background: #193f66;
	color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 18px;
	cursor: pointer;
	background-image: url(/static/img/iconSearch.png);
}
.complex-block.has-controls.add-search.add-search-only > .complex-controls.add-search > .el > .select2-container > .selection > .select2-selection:after {
	background-image: none;
	content: 'Добавить';
	border-radius: 4px;
	width: 100%;
	background-color: #3b7fc4;
}

.complex-block.has-controls.add-inline-search {
	position: relative;
	display: flex;
}
.complex-block.has-controls.add-inline-search > .complex-controls {
	position: relative;
	width: 100%!important;
}
.complex-block.has-controls.add-inline-search > .complex-controls > .el > .select2.select2-container {
	width: 100%!important;
}
.complex-block.has-controls.add-inline-search > .complex-controls > .el > .select2.select2-container .select2-selection--single {
	height: 30px;
}
.complex-block.has-controls.add-inline-search > .complex-controls > .control-add {
	display: none;
}

.recact {
	display: flex;
	text-align: center;
	background: rgb(191, 255, 205);
	border-radius: 6px;
	margin: 4px auto;
	font-size: 13px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 60%;
	padding: 4px 15px;
}
.recact.has-menu {
	width: 100%;
}
.recact.has-menu > .menu-item {
    border: 1px solid #444;
    border-radius: 4px;
    padding: 4px 6px;
    margin: 0px 4px;
}
.recact[questType] {
	background: rgb(228, 191, 255);
}
.recact[pdfType] {
	background: #bfe4ff;
}
.recact:not(.has-menu ):hover, .recact.has-menu > .menu-item:hover {
	opacity: 0.5;
}
.recact > label {
	width: 100%;
	cursor: pointer;
	margin: 0px;
	font-size: 13px;
}
.recact > .icon {
	height: 30px;
	width: 30px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 6px;
	flex-shrink: 0;
}